<h1>Compose new Message</h1>

<%= form_for @conversation do |f| %>

<%= f.label :recipients %>
<%= f.text_field :recipients %>

<%= f.label :body %>
<%= f.text_field :body %>

<%= f.submit %>
	
<% end %>