<h1>Message</h1>

<table class="table">
  <tbody>
		<% @messages.each do |message| %>
			<tr>
				<td width='200px'><%= current_user == message.user ? "You" : message.user.email %></td>
				<td width='500px'><%= message.body %></td>
				<td><%= distance_of_time_in_words_to_now message.created_at %> ago</td>
			</tr>
		<% end %>
		
	</tbody>
</table>


<h2>Reply</h2>
<%= form_for @message, :url => reply_conversations_path, :class => 'form-horizontal' do |f| %>

	<div class="control-group">
  	<div class="controls">
			<%= f.text_area :body, :rows => 3 %>
    </div>
  </div>


<%= f.submit 'Reply', :class => 'btn btn-primary' %>
<%= f.hidden_field :conversation_id %>

<% end %>